footer {
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin-top: auto; /* Place le footer au bas si la page est plus petite */
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0px;
  position: fixed;
  bottom: 0;
}

footer p {
  margin: 0;
  
}
