<div class="checkout">
  <div class="checkout-container">
    <h2>Récapitulatif de la commande</h2>

    <!-- Récapitulatif de la commande -->
    <div class="order-summary">
      <h3>Articles dans votre panier</h3>
      <ul>
        <li *ngFor="let item of cartItems">
          {{ item.name }} x{{ item.quantity }} - {{ item.price  }}
        </li>
      </ul>
      <p>Total :</p>
      <p>{{ totalPrice }}</p>
    </div>

    <!-- Formulaire de validation de la commande -->
    <div class="order-form">
      <h3>Informations de livraison</h3>
      <form>
        <input type="text" placeholder="Nom"  name="name" required />
        <input type="email" placeholder="Email"  name="email" required />
        <input type="text" placeholder="Adresse"  name="address" required />
        <button type="submit">Confirmer la commande </button>  
      </form>
    </div>

    <!-- Section du total -->
    <div class="total">
      <p>Total de la commande : <strong>{{ totalPrice }}</strong></p>
    </div>
	
  </div>
</div>
