<div class="contact">
  <h2>Contactez-nous</h2>

  <!-- Formulaire de contact -->
  <div class="contact-form">
    <form>
      <input type="text" placeholder="Votre nom"  required />
      <input type="email" placeholder="Votre email" required />
      <textarea placeholder="Votre message"  required></textarea>
      <button type="submit">Envoyer le message</button>
    </form>
  </div>

  <!-- Informations supplémentaires -->
  <div class="contact-info">
    <div>
      <i class="fa fa-phone"></i>
      <p>+123 456 789</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p>contactrestaurant.xyz</p>
    </div>
    <div>
      <i class="fa fa-map-marker"></i>
      <p>123 Rue de la Cuisine, Paris, France</p>
    </div>
  </div>
</div>
