
  <div class="menu-container">
     <div class="category-logos">
      <!-- Affichage des logos des catégories -->
      @for (category of categories; track category.name)
      {
      <div (click)="selectCategory(category.id)"
           [class.selected]="category.id === selectedCategory"
           class="category-item">
        <img [src]="getCategoryLogo(category.id)" [alt]="category.name" class="category-logo" />
        <p>{{ category.name }}</p>
      </div>
      }
    </div>
  </div>



  <div class="menu">
  <!-- Affichage des produits du menu -->
   @for  (product of getFilteredProducts(); track product.name)
   {
  <div class="menu-item">
    <div class="product-image-container">
      <img src="{{ product.image }}" alt="{{ product.name }}" class="product-image small-icon">
    </div>
    <div class="product-info">
      <h3 class="product-name">{{ product.name }}</h3>
      <p class="product-price">{{ product.price | currency:'EUR' }}</p>
      <button (click)="addToCart(product)" class="add-to-cart-btn">+</button>
    </div>
  </div>
  }

  <!-- Icône du panier avec le nombre d'articles -->
  <div class="cart-icon" (click)="toggleCart()">
    <img src="/cart-icon.png" alt="Panier" class="small-icon" />
    @if (getCartItems().length > 0) {
      <span class="cart-count">
        {{ getCartItems().length }}
      </span>
    }
    
  </div>

  <!-- Affichage du panier si visible -->
  @if (isCartVisible) {

<div class="cart-summary"> 
  <div class="cart-header">
    @if (getCartItems().length > 0) {
      <h3>Votre Panier</h3>
      <button (click)="clearCart()" class="clear-cart-btn">Vider le panier</button>
    }
  </div>

  <ul class="cart-items">
    @for  (item of getCartItems(); track item.name)
   {
    <li class="cart-item">
      <div class="item-image">
        <img [src]="item.image" alt="{{ item.name }}" class="cart-item-img">
      </div>
      <div class="item-details">
        <p class="item-name">{{ item.name }}</p>
        <p class="item-quantity">Quantité: {{ item.quantity }}</p>
        <p class="item-price">{{ item.price | currency:'EUR' }}</p>
        <button (click)="removeFromCart(item.id)" class="remove-item-btn">Retirer</button>
      </div>
    </li>
  }
  </ul>

  <div class="cart-footer">
    @if (getCartItems().length > 0) {
      <p class="total-price"><strong>Total :</strong> {{ getTotal() | currency:'EUR' }}</p>
      <button routerLink="/checkout" class="checkout-btn">Valider la commande</button>
    }
  </div>
  @if (getCartItems().length === 0 && isCartVisible) {
    <div class="empty-cart-message">
      <p>Votre panier est vide. Ajoutez des articles pour les voir ici.</p>
    </div>
  }
</div>
<!-- Message si le panier est vide -->
  }
</div>

<!-- Bouton de retour en haut -->
<button
  class="scroll-to-top"
  (click)="scrollToTop()"
  [class.visible]="isScrollButtonVisible"
  aria-label="Revenir en haut"
>
  ↑
</button>
