<div class="menu">
  <h2>Menu</h2>
  
  <!-- Affichage des produits du menu -->
<div *ngFor="let product of products" class="menu-item">
  <div class="product-image-container">
    <img  alt="{{ product.name }}" class="product-image">
  </div>
  <div class="product-info">
    <h3 class="product-name">{{ product.name }}</h3>
    <p class="product-price">{{ product.price | currency:'EUR' }}</p>
    <button (click)="addToCart(product)" class="add-to-cart-btn">Ajouter au panier</button>
  </div>
</div>


  <!-- Icône du panier avec le nombre d'articles -->
  <div class="cart-icon" (click)="toggleCart()">
    <img src="assets/cart-icon.png" alt="Panier" />
    <span *ngIf="getCartItems().length > 0" class="cart-count">
      {{ getCartItems().length }}
    </span>
  </div>

  <!-- Affichage du panier si visible -->
  <div *ngIf="isCartVisible" class="cart-summary">
    <h3>Votre Panier</h3>
    <ul>
      <li *ngFor="let item of getCartItems()">
        {{ item.name }} - {{ item.quantity }} x {{ item.price  }}
        <button (click)="removeFromCart(item.id)">Retirer</button>
      </li>
    </ul>
    <p><strong>Total :</strong> {{ getTotal()  }}</p>
    <button (click)="clearCart()">Vider le panier</button>

    <!-- Bouton pour valider la commande -->
    <button *ngIf="getCartItems().length > 0" [routerLink]="['/checkout']">Valider la commande</button>
  </div>

  <!-- Message si le panier est vide -->
  <div *ngIf="getCartItems().length === 0 && isCartVisible">
    <p>Votre panier est vide. Ajoutez des articles pour les voir ici.</p>
  </div>
</div>
